{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentication Failed</title>
    <style>
      body {
        background-color: lightblue;
      }
        a:link, a:visited {
          background-color: #f44336;
          color: white;
          padding: 14px 25px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        a:hover, a:active {
          background-color: red;
        }
        </style>
<body>
     
        <h1>Authentication Failed</h1> <br>
        <p>If you want to create account. Click below</p>
        <a href="/app/signup/">Create Account</a>
    </form> 
</body>
<p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-heart" aria-hidden="true"></i> 
</p>
</html>