{% extends 'base/base.html' %}
    {% load static %}

    {% block content %}
    
    <h1>Subject Information</h1>
    <a href="/app/subjectform/">Add Subject</a> <br>
    <a href="/app/searchsubject/">Search</a> <br>
    {% for subjects in subject %}
    Subject's Code : {{subjects.code}} <br>
    Subject's : {{subjects.name}} <br>
    Class Name: {{subjects.class_name}} <br>

    <a href="edit/{{subjects.id}}">Edit this</a> <br>
    <a href="delete/{{subjects.id}}">Delete</a> <br>
    

    {% empty %}
    There are no subjects.
    
    {% endfor %}


{% endblock %}