{% extends 'base/base.html' %}
    {% load static %}

    {% block content %}
    
    <h1>Parents Information</h1>
    <a href="/app/parentform/">Add Parent</a> <br>
    <a href="/app/searchparent/">Search</a> <br>
    {% for parents in parent %}
    Parent's First Name : {{parents.first_name}} <br>
    Parent's Last Name : {{parents.last_name}} <br>
    Parent's Phone Number : {{parents.phone_no}}<br>
    Parent's Address : {{parents.address}}<br>

    <a href="edit/{{parents.id}}">Edit this</a> <br>
    <a href="delete/{{parents.id}}">Delete</a> <br>

    

    {% empty %}
    There are no parents.
    
    {% endfor %}


    {% endblock %}