{% extends 'base/base.html' %}
{% load static %}

{% block content %}
       
        <h1>Students Information</h1>
            <a href="/app/studentform/">Add Student</a> <br>
           
            {% for students in student %}
            Student's First Name : {{students.first_name}} <br>
            Student's Last Name : {{students.last_name}} <br>
            Student's Phone Number : {{students.phone_no}}<br>
            Student's Address : {{students.address}}<br>

    <a href="edit/{{students.id}}">Edit this</a> <br>
   
    
 

    {% empty %}
    There are no students available.
    
    {% endfor %}
    {% endblock %}